:root {
   --main-accent-color: #2196f3;
   --active-button-color: #188ce8;
   --main-logo-color: #000000;
   --first-title-color: #212121;
   --second-title-color: #757575;
   --main-usual-color: #ffffff;
   --second-bcg-color: #f5f5f5;
   --first-bcg-color: #2f303a;
   --third-bcg-color: #f5f4fa;
   --header-border-color: #ececec;
   --card-portfolio-color: #eeeeee;
   --icon-color: #afb1b8;
}
html {
   box-sizing: border-box;
}

body {
   /* font-family: "Raleway", sans-serif; */
   font-family: "Roboto", sans-serif;
   font-style: normal;
   font-weight: 400;
   text-decoration: none;
}

.container {
   width: 1200px;
   padding-left: 15px;
   padding-right: 15px;

   margin: auto;

   /* outline: 1px solid tomato; */
}

.section {
   padding-top: 94px;
   padding-bottom: 94px;
}

/* -----------------------UTILITS------------------ */
h1,
h2,
h3,
h4,
h5,
h6,
p {
   margin: 0;
   padding: 0;
}

ul,
ol {
   margin: 0;
   padding: 0;
}

.link {
   text-decoration: none;
   display: inline-block;
   margin: 0;
   padding: 0;
}

.list {
   list-style: none;
}

img {
   display: block;
   max-width: 100%;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}
/* ---------------------HEADER--------------------- */
.header {
   background-color: var(--main-usual-color);
   border-bottom: 1px solid var(--header-border-color);
}

.header-nav {
   display: flex;
   align-items: center;
}

.accent {
   color: var(--main-accent-color);
}

.logo {
   margin-right: 93px;
   padding-top: 24px;
   padding-bottom: 25px;

   color: var(--main-logo-color);
   letter-spacing: 0.03em;
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
}

.nav-list {
   display: flex;
}

.nav-list > .item:not(:last-child) {
   margin-right: 50px;
}

.nav-contact {
   display: flex;
   margin-left: auto;
}

.nav-contact > .item:not(:last-child) {
   margin-right: 50px;
}

.nav-link {
   padding-top: 32px;
   padding-bottom: 32px;
   display: inline-block;

   color: var(--first-title-color);

   font-weight: 500;
   font-size: 14px;
   line-height: 1.1;
   letter-spacing: 0.02em;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav .item {
   position: relative;
}

.nav-link.current {
   color: var(--main-accent-color);
}

.nav-link.current::after {
   content: "";
   width: 100%;
   height: 4px;
   position: absolute;
   bottom: 0;
   left: 0;
   background-color: var(--main-accent-color);
   border-radius: 2px;
}

.nav-link:hover,
.nav-link:focus {
   color: var(--main-accent-color);
}

.header-mail,
.header-tel {
   padding-top: 32px;
   padding-bottom: 32px;
   display: flex;
   align-items: center;

   color: var(--second-title-color);
   font-weight: 500;
   font-size: 14px;
   line-height: 1.1;
   letter-spacing: 0.02em;
   text-transform: lowercase;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
   color: var(--main-accent-color);
}

.mail-icon {
   fill: currentColor;
   width: 16px;
   height: 12px;
   margin-right: 10px;
}

.smartphone-icon {
   fill: currentColor;
   width: 10px;
   height: 16px;
   margin-right: 10px;
}

.mail-icon:hover,
.smartphone-icon:hover {
   fill: var(--main-accent-color);
}

/* ---------------------HERO--------------------- */

.hero-box {
   width: 696px;
}

.hero-section {
   background-image: linear-gradient(
         to right,
         rgba(47, 48, 58, 0.4),
         rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero-bcg.jpg);
   background-repeat: no-repeat;
   background-position: center;
   max-width: 1600px;
   margin-left: auto;
   margin-right: auto;
   background-color: var(--first-bcg-color);
   padding-top: 200px;
   padding-bottom: 200px;
}

.hero-title {
   margin-bottom: 30px;

   color: var(--main-usual-color);
   font-weight: 900;
   font-size: 44px;
   line-height: 1.3;
   text-align: center;
   letter-spacing: 0.06em;
   text-transform: uppercase;
}

.hero-btn {
   display: flex;
   align-items: center;
   padding: 10px 32px;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   min-width: 216px;
   height: 50px;
   margin-left: auto;
   margin-right: auto;

   color: var(--main-usual-color);
   background-color: var(--main-accent-color);
   border-radius: 4px;
   border-color: transparent;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.9;
   text-align: center;
   letter-spacing: 0.06em;
   cursor: pointer;

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
   color: var(--main-usual-color);
   background-color: var(--active-button-color);
}

/* -----------------BENEFITS-------------------- */

.benefits {
   background-color: var(--main-usual-color);
}

.work-section {
   padding-top: 0;
}

.benefits-list {
   display: flex;
   justify-content: space-between;
}

.benefits-title {
   margin-bottom: 10px;

   color: var(--first-title-color);
   font-weight: 700;
   font-size: 14px;
   line-height: 1.1;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.benefits-sub-title {
   max-width: 270px;

   color: var(--second-title-color);
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
}

.benefits-list > .item:not(:last-child) {
   margin-right: 30px;
}

.benefits-list > .item {
   display: block;
}

.benefit-item {
   width: 70px;
   height: 70px;
}

.benefit-icon-box {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 270px;
   height: 120px;
   background-color: var(--third-bcg-color);
   border-radius: 4px;
   margin-bottom: 30px;
}

/* .icon-antenna::before {
   background-image: url(../img/antenna.svg);
}

.icon-clock::before {
   background-image: url(../img/clock.svg);
}

.icon-diagram::before {
   background-image: url(../img/diagram.svg);
}

.icon-astronaut::before {
   background-image: url(../img/astronaut.svg);
} */

/* ---------------------WORK--------------------- */

.work-list {
   display: flex;
}

.work-title {
   margin-bottom: 50px;

   color: var(--first-title-color);
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.03em;
}

.work-list > .item:not(:last-child) {
   margin-right: 30px;
}

.work-list > li {
   position: relative;
}

.work-info {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 70px;
   background-color: rgba(47, 48, 58, 0.8);
}

.work-info-text {
   color: var(--main-usual-color);
   font-weight: 700;
   font-size: 14px;
   line-height: 1.4;
   text-align: center;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   margin-top: 27px;
}
/* ---------------------TEAM--------------------- */

.team-list {
   display: flex;
}
.team {
   background-color: var(--third-bcg-color);
}

.team-title {
   color: var(--first-title-color);
   font-weight: 700;
   font-size: 36px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.03em;
   margin-bottom: 50px;
}

.member-text {
   padding-top: 30px;
   padding-bottom: 30px;
}

.member-name {
   color: var(--first-title-color);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   margin-bottom: 10px;
   text-align: center;
}

.member-work {
   color: var(--second-title-color);
   font-size: 16px;
   line-height: 1.2;
   letter-spacing: 0.03em;
   margin-bottom: 16px;
}

.teams-member {
   flex-basis: calc(100% / 4 - 30px);
   width: 270px;
   text-align: center;
   background-color: var(--main-usual-color);
   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 0px 0px 4px 4px;
}
/* outline: 1px solid teal; */

.team-list > .item:not(:last-child) {
   margin-right: 30px;
}

.member-list {
   display: flex;
   justify-content: center;
   align-items: center;
}

.member-item {
   width: 44px;
   height: 44px;
   fill: var(--main-accent-color);
}

.member-item:not(:last-child) {
   margin-right: 10px;
}

.member-link {
   width: 100%;
   height: 100%;
   display: flex;
   border-radius: 50%;
   background-color: var(--main-usual-color);
   justify-content: center;
   align-items: center;
   fill: var(--icon-color);

   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms,
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-link:hover,
.member-link:focus {
   background-color: var(--main-accent-color);
   fill: var(--main-usual-color);
}

/* ---------------------CLIENTS--------------------- */

.clients-title {
   font-size: 36px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.03em;
   margin-bottom: 50px;
   font-weight: 700;
   color: var(--first-title-color);
}

.clients-link {
   display: flex;
   justify-content: center;
   align-items: center;

   width: 100%;
   height: 100%;
   box-sizing: content-box;
   fill: var(--icon-color);
   border: 1px solid var(--icon-color);
   border-radius: 4px;

   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover {
   fill: var(--main-accent-color);
}

.clients-link:hover,
.clients-link:focus {
   fill: var(--main-accent-color);
   border-color: var(--main-accent-color);
}

.clients-list {
   display: flex;
   gap: 30px;
}

.clients-item {
   width: 170px;
   height: 92px;
}

.clients-logo {
   width: 106px;
   height: 60px;
}

/* ---------------------FOOTER--------------------- */

.footer {
   background-color: var(--first-bcg-color);
   padding-top: 60px;
   padding-bottom: 60px;
}
.footer-logo {
   display: inline-block;
   margin-bottom: 20px;

   color: var(--main-usual-color);
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.2;
   letter-spacing: 0.03em;
}

.address-list > .item:not(:last-child) {
   margin-bottom: 9px;
}

.address {
   font-style: normal;
}

.footer-map {
   color: var(--main-usual-color);
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail,
.footer-tel {
   color: rgba(255, 255, 255, 0.6);
   font-weight: 400;
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail:hover,
.footer-mail:focus,
.footer-tel:hover,
.footer-tel:focus,
.footer-map:hover,
.footer-map:focus {
   color: var(--main-accent-color);
}

.footer-container {
   display: flex;
   align-items: baseline;
}

.footer-title {
   color: var(--main-usual-color);
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.footer-list {
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer-link-item {
   width: 44px;
   height: 44px;
   fill: var(--main-accent-color);
}

.footer-link-item:not(:last-child) {
   margin-right: 10px;
}

.footer-link {
   width: 100%;
   height: 100%;
   display: flex;
   border-radius: 50%;
   background-color: rgba(255, 255, 255, 0.1);
   justify-content: center;
   align-items: center;
   fill: var(--main-usual-color);

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
   background-color: var(--main-accent-color);
   fill: var(--main-usual-color);
}

.footer-wrapper {
   display: flex;
   align-items: baseline;
   margin-right: 93px;
}

.footer-adress-wrapper {
   margin-right: 90px;
}

.studio-form {
   margin-left: auto;
   width: 570px;
}

.footer-lable {
   display: block;

   color: var(--main-usual-color);
   font-weight: 700;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   margin-bottom: 20px;
}

.footer-input {
   width: 358px;
   margin-right: 9px;
   padding: 15px 15px 16px;
   background-color: transparent;
   color: var(--main-usual-color);
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 4px;
   outline: transparent;

   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover,
.footer-input:focus {
   border-color: rgba(200, 200, 200, 0.737);
}

.footer-btn {
   position: relative;
   padding: 10px 62px 10px 28px;

   color: var(--main-usual-color);
   background-color: var(--main-accent-color);
   background: #2196f3;
   border-radius: 4px;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.9;
   letter-spacing: 0.06em;

   border: 1px solid transparent;
   cursor: pointer;

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:focus,
.footer-btn:hover {
   background-color: var(--active-button-color);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-form-icon {
   position: absolute;
   top: 50%;
   right: 28px;
   transform: translateY(-50%);
   fill: var(--main-usual-color);
}

/* -------------------------POTFOLIO PAGE-------------------- */

.btn-list {
   display: flex;
   justify-content: center;

   margin-bottom: 50px;
}

.btn-item {
   padding: 6px 22px;
   border-radius: 4px;
   margin-right: 8px;

   color: var(--first-title-color);
   background-color: var(--third-bcg-color);
   font-family: inherit;
   font-style: inherit;
   border: 0mm;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.6;
   text-align: center;
   letter-spacing: 0.03em;
   cursor: pointer;

   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-item:hover,
.btn-item:focus {
   box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
}

.btn-item:hover,
.btn-item:focus {
   color: var(--main-usual-color);
   background-color: var(--main-accent-color);
}

.last {
   margin-right: 0;
}

.example-list {
   display: flex;
   flex-wrap: wrap;
}

.example-list > .item {
   flex-basis: calc(100% / 3);
   flex-basis: calc((100% - 60px) / 3);
   margin-right: 30px;
   margin-bottom: 30px;
}

.example-thumb {
   position: relative;

   overflow: hidden;
}

.example-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(33, 150, 243, 0.9);

   opacity: 0;

   transform: translateY(101%);

   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-overlay {
   opacity: 1;
}

.example-item:hover .example-overlay {
   transform: translateY(0);
}

.thumb-text {
   position: absolute;
   top: 0;
   left: 0;
   padding: 63px 24px 178px 24px;
   color: var(--main-usual-color);
   font-size: 18px;
   line-height: 1.5;
   letter-spacing: 0.03em;
}

.example-list .link {
   display: block;
}

.example-list .link:hover {
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.example-list > .item:nth-child(3n + 3) {
   margin-right: 0;
}

.example-list > .item:nth-last-child(-n + 3) {
   margin-bottom: 0;
}

.example-title {
   color: var(--first-title-color);
   font-weight: 700;
   font-size: 18px;
   line-height: 2;
   letter-spacing: 0.06em;
   width: 370px;
   margin-bottom: 4px;
   padding: 0;
}

.example-dcr {
   color: var(--second-title-color);
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.8;
   letter-spacing: 0.03em;
}

.example-text {
   max-width: 370px;
   padding: 20px 24px;

   border-bottom: 1px solid var(--header-border-color);
   border-left: 1px solid var(--header-border-color);
   border-right: 1px solid var(--header-border-color);
}

/* -------------------MODAL----------------- */

.backdrop {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #0000001a;

   opacity: 1;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}

.backdrop.is-hidden .modal {
   transform: translate(-50%, -50%) translateY(-100%);
}

.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 528px;
   min-height: 581px;
   background-color: var(--main-usual-color);

   transform: translate(-50%, -50%) translateY(0);

   transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
   border-radius: 4px;

   padding: 40px;
}

.close-modal {
   position: absolute;

   top: 8px;
   right: 8px;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   cursor: pointer;
   border: 1px solid rgba(0, 0, 0, 0.1);

   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-modal:hover,
.close-modal:focus {
   box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2);
   fill: var(--main-accent-color);
}

.modal-title {
   color: var(--first-title-color);
   font-weight: 700;
   font-size: 20px;
   line-height: 23px;
   text-align: center;
   letter-spacing: 0.03em;
   margin-bottom: 12px;
}

.modal-label {
   color: var(--second-title-color);

   display: inline-block;
   margin-bottom: 4px;

   font-size: 12px;
   line-height: 1.2;
   letter-spacing: 0.01em;
}

.modal-input {
   width: 100%;
   height: 40px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   padding-left: 42px;
   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
   border-color: var(--main-accent-color);
   outline: transparent;
}

.modal-input:hover + .modal-input-icon,
.modal-input:focus + .modal-input-icon {
   fill: var(--main-accent-color);
}

.modal-btn {
   display: flex;
   padding: 10px 52px;
   margin: 0 auto;

   color: var(--main-usual-color);
   background-color: var(--main-accent-color);
   font-weight: 700;
   font-size: 16px;
   line-height: 1.8;
   letter-spacing: 0.06em;
   border-radius: 4px;
   border: 1px solid transparent;
   cursor: pointer;

   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   background-color: var(--active-button-color);
}

.modal-input-group {
   align-items: center;
   margin-bottom: 10px;
   position: relative;
}

.modal-comment-group {
   margin-bottom: 30px;
}

.modal-textarea {
   display: block;

   padding: 12px;
   width: 448px;
   height: 120px;

   border: 1px solid rgba(33, 33, 33, 0.2);
   outline: transparent;
   border-radius: 4px;
   resize: none;

   transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover,
.modal-textarea:focus {
   border-color: rgba(33, 33, 33, 0.484);
}

.modal-textarea::placeholder {
   color: rgba(117, 117, 117, 0.265);

   font-size: 12px;
   line-height: 1.6;
   letter-spacing: 0.01em;
}

.modal-input-icon {
   position: absolute;
   top: 50%;
   left: 12px;
   transform: translateY(-50%);

   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon-wrapper {
   position: relative;
}

.checkbox {
   display: flex;
   justify-content: center;
   margin-bottom: 30px;

   color: var(--second-title-color);
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
}

.checkbox::before {
   content: "";
   display: flex;
   align-self: center;

   margin-right: 8px;
   width: 16px;
   height: 16px;

   border: 2px solid var(--first-title-color);
   border-radius: 2px;
   outline: 0 solid var(--first-title-color);

   transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-condition-input:checked + .checkbox::before {
   background-color: var(--main-accent-color);
   background-repeat: no-repeat;
   background-position: center;
   background-image: url(../img/modal-condition.svg);
   border: 0px;
}

.modal-condition-input:checked:focus + .checkbox::before,
.modal-condition-input:hover + .checkbox::before,
.modal-condition-input:focus + .checkbox::before {
   outline: 1px solid var(--first-title-color);
}

.conditions {
   color: var(--main-accent-color);
   margin-left: 4px;
}

.conditions::after {
   content: "";
   width: 115px;
   height: 1px;
   position: absolute;
   bottom: 6px;
   right: 20px;
   background-color: var(--main-accent-color);
   border-radius: 2px;
}
