.benefits {
   background-color: var(--main-usual-color);

   &__list {
      display: flex;
      @media screen and (min-width: 768px) {
         justify-content: center;
         gap: 30px;
      }
      @media screen and (max-width: 1199px) {
         flex-wrap: wrap;
      }
   }

   &__item {
      width: 100%;
      @media screen and (max-width: 767px) {
         &:not(:last-child) {
            margin-bottom: 30px;
         }
      }
      @media screen and (min-width: 768px) {
         width: 100%;
      }
      @media screen and (min-width: 768px) {
         width: calc((100% - 120px) / 2);
      }

      @media screen and (min-width: 1200px) {
         width: calc((100% - 60px) / 4);
      }
   }
   &__title {
      margin-bottom: 10px;
      margin-top: 30px;

      color: var(--first-title-color);
      font-weight: 700;
      font-size: 14px;
      line-height: 1.1;
      letter-spacing: 0.03em;
      text-transform: uppercase;

      @media screen and (max-width: 767px) {
         text-align: center;
      }
   }
}

.benefits__dcr {
   max-width: 100%;

   color: var(--second-title-color);
   font-size: 14px;
   line-height: 1.7;
   letter-spacing: 0.03em;
}

.benefits__icon {
   width: 70px;
   height: 70px;
}

.benefits__wrap {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 120px;
   background-color: var(--third-bcg-color);
   border-radius: 4px;
   margin-bottom: 30px;
}

/* .icon-antenna::before {
   background-image: url(../img/antenna.svg);
}

.icon-clock::before {
   background-image: url(../img/clock.svg);
}

.icon-diagram::before {
   background-image: url(../img/diagram.svg);
}

.icon-astronaut::before {
   background-image: url(../img/astronaut.svg);
} */
